/* Contenedor del formulario */
.container {
    max-width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px auto; /* Márgenes arriba y abajo de 50px, centrado horizontalmente */
}


/* Estilo del título */
h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #222;
    font-weight: bold;
}

/* Estilos de las etiquetas */
label {
    display: block;
    margin-top: 20px;
    font-size: 1em;
    text-align: left;
    color: #333;
}

/* Estilos de los campos de entrada */
input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #555;
    background-color: #f9f9f9;
}

input:focus {
    border-color: #bd1772;
    outline: none;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

/* Estilos del botón */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #f9d7e7; /* Rosa claro */
    color: #222;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #bd1772; /* Rosa oscuro */
    color: white;
}

.btn:focus {
    outline: none;
}

/* Estilo de los placeholders */
input::placeholder {
    color: #aaa;
}
