* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.container {
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilo del título */
h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #222;
    font-weight: bold;
}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #bd1772;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #bd1772;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.day {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.available {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.comprobante {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 4px;
    text-align: left;
}
.logo {
    max-width: 100px;
    margin-bottom: 20px;
}
